.display-panel {
	width: 50%;
	display: flex;
	flex-direction: column;
	text-align: left;
	border-left: 2px solid rgb(144, 33, 148);
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.display-panel .teammates {
	font-size: 0.8em;
	color: rgb(100, 4, 104);
}

@media only screen and (max-width: 1300px) {
	.display-panel {
		width: 100%;
	}
}
